dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.htaccess
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

wordpress/wp/*.php
wordpress/wp/*.html
wordpress/wp/*.txt
wordpress/wp/wp-admin
wordpress/wp/wp-includes
wordpress/wp/wp-content/plugins
wordpress/wp/wp-content/uploads
wordpress/wp/wp-content/index.php
wordpress/wp/wp-content/themes/*een
wordpress/wp/wp-content/themes/wcstencil/scripts/stencil/*